<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite
name="SFDC Test Suite - Cross Browser Testing in Parallel"
parallel="tests" verbose="1" thread-count="1"
configfailurepolicy="continue">

<test name="SFDC UI Test" annotations="JDK"
	  preserve-order="true">
	<classes>
		<class name="com.ui.qa.runner.CucumberRunnerHooks" />
	</classes>
</test>
</suite>